* {
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.nav-bar {
    height: 60px;
    background-color: #00453e;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.border {
    border: 1.4px solid transparent;
    border-radius: 3px;
}

.border:hover {
    border: 1.4px solid white;
}

.lang-select {
    background-color: transparent;
    border: none;
    color: gray;
    margin-left: -5px;
}

h2 {
    font-size: 1.2rem;
}

.inside-box {
    position: relative;
    padding: 20px;
}

/** nav-amazon-logo **/

.nav-logo {
    height: 50px;
    width: 110px;
    cursor: pointer;
}

.logo {
    background-image: url("images/amazon-logo.png");
    background-size: cover;
    height: 50px;
    width: 110px;
}

/** nav-delivery **/

.nav-address {
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;
}

.add-first {
    color: #CCCCCC;
    font-size: 0.8rem;
    margin-left: 15px;
}

.add-second {
    font-size: 1rem;
    margin-left: 3px;
}

.address-icon {
    display: flex;
    align-items: center;
}

/** nav-search **/

.nav-search {
    display: flex;
    justify-content: space-evenly;
    background-color: #E6E6E6;
    width: 660px;
    height: 40px;
    border-radius: 4px;
}

.search-select {
    background-color: #E6E6E6;
    width: 55px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
    margin-right: 2px;
    cursor: pointer;
}

.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-input::placeholder {
    padding-left: 4px;
}

.search-icon {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: rgb(250, 214, 221);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0F1111;
    transition: all 0.2s ease-in;
    cursor: pointer;
}

.search-icon:hover {
    background-color: rgb(250, 201, 201)
}

.search-select option:not(.search-select option:nth-child(1)) {
    text-align: start;
}

/** nav-languages **/

.nav-lang {
    display: flex;
    margin-top: 10px;
    cursor: pointer;
}

.flag-usa {
    background-image: url(images/flag-usa.png);
    background-size: cover;
    width: 21.6px;
    height: 16.2px;
}

.lang-txt {
    font-size: 0.85rem;
    margin-left: 2px;
    margin-top: 2px;
    font-weight: 700;
}

/** nav sign-in and return**/

.nav-signin {
    cursor: pointer;
}

.signin-select {
    display: flex;
}

span {
    font-size: 0.7rem;
}

.nav-second {
    font-size: 0.85rem;
    font-weight: 700;
}

.nav-return {
    cursor: pointer;
}

/** nav-cart **/

.nav-cart i {
    font-size: 25px;
}

.nav-cart {
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 0.85rem;
    font-weight: 700px;
    cursor: pointer;
}

/** panel **/

.panel {
    height: 39px;
    background-color: #195851;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.panel-option p, .panel-all {
    display: inline;
    padding-top: 10.8px;
    padding-bottom: 10.8px;
    padding-right: 7.5px;
    padding-left: 7.5px;
    cursor: pointer;
}

.panel-option {
    width: 93%;
    font-size: 0.85rem;
}

/** hero-section **/

.hero-section {
    background: linear-gradient(to bottom, transparent 0%, transparent 40%, #BBBFBF 50%, #BBBFBF 100%), url("images/hero-image.jpg");
    background-size: contain;
    height: auto;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

/** shop-section **/

.shop-section {
    padding-top: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

.line-box {
    height: 390px;
    width: 23%;
    margin-bottom: auto;
    background-color: white;
    margin-bottom: 20px;
}

.none {
    display: none;
}

/** box1, box4, box5, box7 **/

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
}

.image-box-1-4-5-7 {
    width: 48%;
    margin-bottom: 10px;
    position: relative;
    cursor: pointer;
}

.image-box-1-4-5-7 img {
    width: 100%;
    height: 100px;
    object-fit: cover;
}

.image-text {
    font-size: 0.75rem;
}

.bottom-img-txt {
    color: #007185;
    font-size: 0.8rem;
    padding-top: 20px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.bottom-img-txt:hover {
    color: orange;
    text-decoration: underline;
}

/** box2, box3, box6, box8 **/

.box-2-3-6-8-img {
    padding-top: 30px;
    width: 100%;
    height: 250px;
    object-fit: cover;
    cursor: pointer;
}

/** seperator **/

.seperator {
    width: 100%;
    height: 20px;
    background-color: #BBBFBF;
    border: none;
}

/** slideshows **/

.slide {
    background-color: #BBBFBF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide-container {
    height: auto;
    width: 96.8%;
    background-color: white;
}

.slider {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    padding-bottom: 20px;
}

.image {
    height: 200px;
    width: auto;
    cursor: pointer;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide-container p {
    margin-left: 22px;
    margin-bottom: 5px;
    font-size: 1.3rem;
    font-weight: 700;
    padding-top: 15px;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1.3rem;
    display: none;
    color: #000000;
    width: 50px;
    height: 100px;
    background-color: white;
}

.left-arrow {
    left: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.right-arrow {
    right: 0;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.slider:hover .arrow {
    display: flex;
    justify-content: center;
    align-items: center;
}

/** footer **/

.back-to-top {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2a3747;
    cursor: pointer;
}

.back-to-top:hover {
    background-color: #2a3747cc;
}

#Top-btn {
    color: white;
    font-size: 0.8rem;
    text-decoration: none;
    cursor: pointer;
}

.footer-line {
    width: 100%;
    background-color: #232f3e;
    height: 40px;
}

.ul-links {
    width: 100%;
    height: auto;
    background-color: #232f3e;
    color: white;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 50px;
}

.list {
    list-style: none;
    padding: 0;
    font-size: 0.875rem;
}

.list li {
    margin-bottom: 10px;
    cursor: pointer;
}

.list li:hover {
    text-decoration: underline;
}

.link-text p {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 14px;
    cursor: pointer;
}

.info {
    background-color: #232f3e;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
}

.none {
    border: none;
    width: 100%;
    height: 1px;
    background-color: #BBBFBF;
}

.details {
    width: 1000px;
    height: 68px;
    background-color: #232f3e;
    display: flex;
    align-items: center;
}

.custom {
    position: relative;
    left: 200px;
    cursor: pointer;
}

.demographic-info {
    width: 450px;
    height: 45px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    left: 260px;
    color: white;
}

.english, .currency, .country {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    border: 1px solid white;
    padding: 6px 12px 6px 6px;
    border-radius: 4px;
    font-size: 0.8rem;
    cursor: pointer;
}

.pad-8 {
    padding: 0 8px;
}

.usa-flag {
    background-image: url(images/flag-usa.png);
    background-size: cover;
    width: 18px;
    height: 12px;
}

@media (max-width: 799px) {
    .hero-section {
        height: 1400px;
    }

    .nav-bar {
        justify-content: space-between;
    }

    .add-first {
        font-size: 12px;
    }

    .add-second {
        font-size: 14px;
    }

    .nav-address {
        padding-right: 6px;
    }

    .nav-search {
        width: 359px;
    }

    .search-input {
        width: 250px;
    }

    .search-input::placeholder {
        font-size: 12px;
    }

    .nav-lang, .lang-select {
        display: none;
    }

    .nav-signin {
        padding-left: 6px;
    }

    .nav-return {
        padding-right: 25px;
    }

    .line-box {
        width: 30%;
    }

    .none {
        display: initial;
    }

    .inside-box h2 {
        font-size: 16px;
    }
    
    .inside-box:last-child {
        background-color: white;
    }

    .box9 p {
        padding-bottom: 12px;
    }

    .slide-container {
        width: 95.2%;
    }

    .slider {
        flex-wrap: nowrap;
        overflow: hidden;
        padding-right: 10px;
        padding-left: 10px;
    }

    .image {
        flex: 0 0 19%;
        padding: 5px;
    }

    .image img {
        width: 128px;
    }

    .arrow {
        display: none;
    }

    .ul-links {
        padding-top: 10px;
        justify-content: space-between;
    }

    .link-text {
        padding: 0 10px;
    }

    .custom {
        left: 100px;
    }

    .demographic-info {
        left: 150px;
    }
}

@media (max-width: 477px) {
    .nav-bar {
        height: 48px;
        justify-content: space-between;
    }

    .nav-left {
        display: flex;
        height: 100%;
        align-items: center;
    }

    .menu {
        display: flex;
        align-items: center;
        padding: 14px 4px 14px 14px;
        font-size: 25px;
    }

    .nav-right {
        display: flex;
        height: 100%;
        align-items: center;
    }

    .signin {
        font-size: 14px;
        padding: 6px;
    }

    .user-icon {
        font-size: 24px;
        padding: 8px;
    }

    .nav-cart {
        padding: 14px 18px 14px 4px;
    }

    .nav-search-form {
        background-color: #00453e;
        width: 100%;
        border-radius: 0;
        display: flex;
        justify-content: center;
        padding: 4px 0;
        height: 42px;
    }

    .search-input {
        width: 100%;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        height: 42px;
    }

    .search-input::placeholder {
        font-size: 15px;
        padding-left: 8px;
    }

    .search-icon {
        height: 44px;
    }

    .search-icon i {
        font-size: 22px;
    }

    .panel {
        background-color: #00453e;
        height: 45px;
        font-size: 15px;
    }

    .global-slot {
        background-color: #195851;
        height: 20px;
        display: flex;
        align-items: center;
        padding: 12px 10px;
    }
    
    .location {
        color: #fff;
        margin-right: 10px;
        font-size: 20px;
    }

    .txt {
        color: #fff;
        font-size: 14px;
    }

    .txt > select {
        width: 14px;
    }

    .hero-slider {
        height: 450px;
        width: 100%;
    }

    .hero-img {
        background-image: linear-gradient(to bottom, transparent 0%, transparent 60%, #BBBFBF 65%, #BBBFBF 100%), url("images/hero-image.jpg");
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: 25% center;
        display: flex;
        align-items: flex-end;
        overflow-x: auto;
    }

    .slider-img {
        display: flex;
    }

    .slider-box {
        width: 135px;
        height: 180px;
        margin: 0 0 10px 10px;
        background-color: #fff;
        border-radius: 4px;
    }

    .slider-box h2 {
        font-size: 14px;
        padding: 3px 5px;
    }

    .slider-box img {
        width: 100%;
        height: 142px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }

    .shop {
        display: flex;
        flex-wrap: wrap;
        background-color: #BBBFBF;
    }

    .img-box {
        margin-bottom: 1px;
        background-color: #fff;
    }

    .img-box h2 {
        padding: 15px 0 0 15px;
        font-size: 18px;
    }

    .image-container {
        margin-top: 0;
        padding: 0 15px;
    }

    .images {
        width: 48%;
        padding-top: 12px;
    }

    .images img {
        width: 100%;
        height: 180px;
        object-fit: contain;
    }

    .image-text {
        font-size: 15px;
    }
    
    .bottom-img-txt {
        padding: 20px 0 15px 15px;
        font-size: 15px;
    }

    .banner {
        width: 500px;
        height: 150px;
        margin-bottom: 1px;
    }

    .banner img {
        width: 100%;
        object-fit: cover;
    }

    .shop-desc {
        background-color: #BBBFBF;
        width: 100%;
        margin-bottom: 1px;
    }

    .desc-body {
        background-color: #fff;
        padding: 0 15px 12px 15px;
    }

    .desc-body h2 {
        font-size: 18px;
        padding: 10px 0;
    }

    .img-desc {
        display: flex;
        padding-bottom: 20px;
    }

    .img-desc img {
        width: 91.6px;
        height: 91.6px;
        object-fit: contain;
    }

    .text {
        margin-left: 12px;
    }

    .text p {
        font-size: 15px;
    }

    .text span {
        padding-top: 2px;
        display: flex;
        font-size: 18px;
    }

    .back-to-top {
        flex-direction: column;
    }

    .ul-links {
        justify-content: space-evenly;
        padding-top: 30px;
        padding-bottom: 0;
    }

    .list li {
        font-size: 15px;
        margin-bottom: 25px;
    }

    .info {
        padding: 20px;
        background-color: #122132;
    }
    
    .demographic-info {
        width: 80%;
        height: 130px;
        color: white;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        position: relative;
        left: -15px;
    }

    .english, .currency, .country {
        border: none;
    }
}